# Konfiguracja i środowisko
.env

# Systemowe i IDE
*.log
*.bak
*.zip
.idea/
.vscode/
*.code-workspace

# Cache
cache/
tmp/
sessions/

# Node / Composer
node_modules/
vendor/

# obrazki i pliki statyczne
public/assets/img_uploads/*
!public/assets/img_uploads/.gitkeep